<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mall.mapper.MallGoodsMapper">
    
    <resultMap type="MallGoods" id="MallGoodsResult">
        <result property="goodsId"    column="goods_id"    />
        <result property="mainTitle"    column="main_title"    />
        <result property="subTitle"    column="sub_title"    />
        <result property="price"    column="price"    />
        <result property="oldPrice"    column="old_price"    />
        <result property="goodsImg"    column="goods_img"    />
        <result property="status"    column="status"    />
        <result property="sort"    column="sort"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="url"    column="url"    />
        <result property="storeId"    column="store_id"    />
        <result property="createDate"    column="create_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectMallGoodsVo">
        select goods_id,sort, main_title, sub_title, price, old_price, status,url, del_flag, create_date, create_by, update_date, update_by,store_id from mall_goods
    </sql>
    <sql id="oneMallGoodsVo">
        select goods_id,sort, main_title, sub_title, price, old_price, status,url,store_id from mall_goods
    </sql>

    <select id="selectMallGoodsList" parameterType="MallGoods" resultMap="MallGoodsResult">
        <include refid="selectMallGoodsVo"/>
        <where>
            del_flag =0
            <if test="mainTitle != null  and mainTitle != ''"> and main_title = #{mainTitle}</if>
            <if test="subTitle != null  and subTitle != ''"> and sub_title = #{subTitle}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="oldPrice != null "> and old_price = #{oldPrice}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
        </where>
        order by sort desc, status desc, create_date desc,goods_id desc
    </select>

    <select id="selectMallGoodsById" parameterType="Long" resultMap="MallGoodsResult">
        <include refid="oneMallGoodsVo"/>
        where mall_goods.goods_id = #{goodsId}
    </select>

    <insert id="insertMallGoods" parameterType="MallGoods" useGeneratedKeys="true" keyProperty="goodsId">
        insert into mall_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mainTitle != null  and mainTitle != ''">main_title,</if>
            <if test="subTitle != null  and subTitle != ''">sub_title,</if>
            <if test="price != null ">price,</if>
            <if test="oldPrice != null ">old_price,</if>
            <if test="status != null ">status,</if>
            <if test="sort != null ">sort,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="url != null ">url,</if>
            <if test="createDate != null ">create_date,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="updateDate != null ">update_date,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mainTitle != null  and mainTitle != ''">#{mainTitle},</if>
            <if test="subTitle != null  and subTitle != ''">#{subTitle},</if>
            <if test="price != null ">#{price},</if>
            <if test="oldPrice != null ">#{oldPrice},</if>
            <if test="status != null ">#{status},</if>
            <if test="sort != null ">#{sort},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="createDate != null ">#{createDate},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="updateDate != null ">#{updateDate},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateMallGoods" parameterType="MallGoods">
        update mall_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="mainTitle != null  and mainTitle != ''">main_title = #{mainTitle},</if>
            <if test="subTitle != null  and subTitle != ''">sub_title = #{subTitle},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="oldPrice != null ">old_price = #{oldPrice},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="sort != null ">sort = #{sort},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="url != null ">url = #{url},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateDate != null ">update_date = #{updateDate},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where goods_id = #{goodsId}
    </update>

    <delete id="deleteMallGoodsById" parameterType="Long">
        delete from mall_goods where goods_id = #{goodsId}
    </delete>

    <!--<delete id="deleteMallGoodsByIds" parameterType="String">-->
        <!--delete from mall_goods where goods_id in -->
        <!--<foreach item="goodsId" collection="array" open="(" separator="," close=")">-->
            <!--#{goodsId}-->
        <!--</foreach>-->
    <!--</delete>-->
    <delete id="deleteMallGoodsByIds" parameterType="Long">
        update mall_goods set del_flag = '1' where goods_id in
        <foreach collection="array" item="goodsId" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </delete>

    <update id="updateSelectMallGoodsStatus">
        update mall_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null ">status = #{status}</if>
        </trim>
        where goods_id in
        <foreach item="goodsId" collection="goodsIds" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </update>

    <select id="selectMallGoodsListByStatus" resultMap="MallGoodsResult">
        select goods_id, main_title, sub_title, price, old_price,url from mall_goods
        where status = 1 and del_flag = 0
        order by sort desc, status desc, create_date desc,goods_id desc
    </select>
</mapper>